body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	background-color: #111118;
	background-image: url('/img/stargaze_background.jpg');
	background-position: center;
	background-size: cover;
}

main {
	flex: 1 0 auto;
}

.brand-logo img {
	height: 64px;
	width: auto;
}

.header-text {
	margin: 0;
}

.dropdown-content.active {
	background-color: white !important;
}