body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	background-image: url('./img/stargaze_background.jpg');
	background-position: center;
	background-size: cover;
}

main {
	flex: 1 0 auto;
}